{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 80,
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4,
        "printWidth": 120
      }
    },
    {
      "files": "*.chatmode.md",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 1000,
        "proseWrap": "preserve"
      }
    }
  ]
}
